<div class="row">
    <h5 class="col-md-12 form-header">
        <i class="material-icons">edit</i>
        {{ Header }}
    </h5>
</div>
<div class="row">
    <!-- start body for expanse spending -->
    <form [formGroup]="form">

        <!-- payment date -->
        <mat-form-field class="col-md-12 form-group">
            <mat-label>Payment for Date</mat-label>
            <input matInput [readonly]="true" [matDatepicker]="pDate" (click)="pDate.open()"
                placeholder="Enter your payment date" formControlName='PaymentDate' required>
            <mat-datepicker-toggle matSuffix [for]="pDate"></mat-datepicker-toggle>
            <mat-datepicker #pDate disabled="false"></mat-datepicker>
        </mat-form-field>

        <!-- Title -->
        <mat-form-field class="col-md-12 form-group">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Enter your title" formControlName='Title' maxlength="100" required>
            <mat-error *ngIf="Title.hasError('required')">
                Please enter <strong>Title.</strong>
            </mat-error>
            <mat-error *ngIf="Title.hasError('requiredValid')">
                Please enter <strong>Title.</strong>
            </mat-error>
            <mat-error *ngIf="Title.hasError('characterValid')">
                {{ Title.errors.characterValid }}
            </mat-error>
            <mat-error *ngIf="Title.hasError('maxLength')">
                The max length is <strong>100 letter.</strong>
            </mat-error>
        </mat-form-field>

        <!-- Expense and Wallet -->
        <mat-form-field class="col-md-6 form-group">
            <mat-label>Expense</mat-label>
            <input matInput placeholder="Enter your expense" formControlName='Expense' required type="number"
                max="700000" min="500">
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-error *ngIf="Expense.hasError('required')">
                Please enter <strong>Expense.</strong>
            </mat-error>
            <mat-error *ngIf="Expense.hasError('scope') && !Expense?.errors?.pattern">
                <strong>{{ Expense.errors.scope }}</strong>
            </mat-error>
            <mat-error *ngIf="Expense?.errors?.pattern">
                The expense is <strong>invalid</strong>.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-6 form-group">
            <mat-label>Choose a Wallet</mat-label>
            <mat-select formControlName='Wallet' required>
                <mat-option *ngIf="!wallets.length">None</mat-option>
                <mat-option *ngFor="let wallet of wallets" [value]="wallet.WalletCode">
                    {{wallet.Name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field class="col-md-12 form-group">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Enter your description" maxLength="500" formControlName='Description'
                rows="3"></textarea>
            <mat-hint align="end">{{Description.value.length}} / 500</mat-hint>
            <mat-error *ngIf="Description.hasError('maxLength')">
                The description have max length is <strong>500 letter.</strong>
            </mat-error>
            <mat-error *ngIf="Description.hasError('characterValid')">
                The value not contain characters <strong>{{ Description.errors.characterValid }}</strong>
            </mat-error>
        </mat-form-field>

        <!-- Action -->
        <div class="col-md-12  form-group text-right form-action">

            <!-- save & close -->
            <button mat-raised-button class="btn btn-success btn-round" (click)="save()"
                matTooltip="Save and close dialog." [disabled]="form.invalid">Save & Close</button>
            <span class="space"></span>
            <!-- save -->
            <button mat-raised-button class="btn btn-warning btn-round" matTooltip="Save and keep dialog"
                [disabled]="form.invalid">Save</button>
            <span class="space"></span>
            <!-- delete -->
            <button mat-raised-button class="btn btn-danger btn-round" *ngIf="element?.Id"
                matTooltip="Delete a record.">
                Delete
            </button>
            <span class="space" *ngIf="element?.Id"></span>
            <!-- close -->
            <button mat-flat-button class="btn btn-round" (click)="cancel()" matTooltip="Close">Close</button>

        </div>

    </form> <!-- end body for expanse spending -->
</div>