@import "../../../../styles/child-variables.scss";

.action {
    text-align: right;
    margin-top: 15px;
  }
  
mat-action-row{
    border: none;
}

.col-xs-8{
    margin: auto;
}

.user-header{
    display: flex;
}