<div class="row">
    <h5 class="col-md-12 form-header">
        <i class="material-icons">edit</i>
        Profile
    </h5>
</div>
<div class="row">
    <form [formGroup]="form">
        <!-- User name -->
        <mat-form-field class="col-md-12 form-group">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Enter you username..." formControlName='Username' required maxlength="500">
            <mat-icon matSuffix>account_box</mat-icon>
            <mat-error *ngIf="Username.hasError('required')">
                Please enter <strong>Username.</strong>
            </mat-error>
            <mat-error *ngIf="Username.hasError('maxlength')">
                Please max length of user name <strong>is 500 letters.</strong>
            </mat-error>
            <mat-error *ngIf="Username.hasError('whitespace')">
                Please enter the user name <strong>without spaces.</strong>
            </mat-error>
        </mat-form-field>

        <!-- Full name -->
        <mat-form-field class="col-md-12 form-group">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="Enter your full name..." maxlength="100" formControlName='Fullname' required>
            <mat-icon matSuffix>person_outline</mat-icon>
            <mat-error *ngIf="Fullname.hasError('required')">
                Please enter <strong>full name.</strong>
            </mat-error>
            <mat-error *ngIf="Fullname.hasError('maxlength')">
                Please max length of full name <strong>is 100 letters.</strong>
            </mat-error>
        </mat-form-field>

        <!-- Phone -->
        <mat-form-field class="col-md-12 form-group">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Enter your phone number..." formControlName='Phone' minlength="10"
                maxlength="10">
            <mat-icon matSuffix>perm_phone_msg</mat-icon>
            <mat-error *ngIf="Phone?.errors?.pattern">
                The phone must <strong>is number and has 10 letters.</strong>
            </mat-error>
            <mat-error *ngIf="(Phone.hasError('maxlength') || Phone.hasError('minlength')) && !Phone?.errors?.pattern">
                The phone must <strong>have 10 letters.</strong>
            </mat-error>
        </mat-form-field>

        <!-- Action -->
        <div class="col-md-12  form-group text-right form-action">
            <button mat-raised-button class="btn btn-success btn-round" [disabled]="form.invalid"
                matTooltip="Save your information">Save</button>
            <span class="space"></span>
            <button mat-flat-button class="btn btn-round" (click)="cancel()" matTooltip="Close">Close</button>
        </div>
    </form> <!-- end body for expanse spending -->
</div>