<div class="sign">
    <div class="sign-main col-xl-4 col-sm-6 col-md-6 col-lg-5">
        <div class="sign-content">
            <div class="card-stats">
                <div>
                    <h4 class="card-title">
                        Register
                    </h4>
                </div>
                <div>
                    <!-- start body for expanse spending -->
                    <form [formGroup]="form">

                        <!-- User name -->
                        <div class="row">
                            <mat-form-field class="col-md-12">
                                <mat-label>User Name</mat-label>
                                <input matInput placeholder="Enter you username..." formControlName='Username' required
                                    maxlength="100">
                                <mat-icon matSuffix>account_box</mat-icon>
                                <mat-error *ngIf="Username.hasError('required')">
                                    Please enter <strong>Username.</strong>
                                </mat-error>
                                <mat-error *ngIf="Username.hasError('maxlength')">
                                    Please max length of user name <strong>is 100 letters.</strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="(Username.hasError('whitespace') || Username.hasError('characterValid') ) && !Username.hasError('minlength')">
                                    Please enter the user name <strong>without spaces</strong> or characters special
                                    <strong>
                                        {{ Username.errors.characterValid }}
                                    </strong>
                                </mat-error>
                                <mat-error *ngIf="Username.hasError('minlength')">
                                    Please min length of user name <strong>is 6 letters.</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!-- Full name -->
                        <div class="row">
                            <mat-form-field class="col-md-12">
                                <mat-label>Full Name</mat-label>
                                <input matInput placeholder="Enter your full name..." maxlength="100"
                                    formControlName='Fullname' required>
                                <mat-icon matSuffix>person_outline</mat-icon>
                                <mat-error *ngIf="Fullname.hasError('required')">
                                    Please enter <strong>full name.</strong>
                                </mat-error>
                                <mat-error *ngIf="Fullname.hasError('maxlength')">
                                    Please max length of full name <strong>is 100 letters.</strong>
                                </mat-error>
                                <mat-error *ngIf="Fullname.hasError('characterValid')">
                                    The value not contain characters
                                    <strong>{{ Fullname.errors.characterValid }}</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!-- Phone -->
                        <div class="row">
                            <mat-form-field class="col-md-12">
                                <mat-label>Phone Number</mat-label>
                                <input matInput placeholder="Enter your phone number..." formControlName='Phone'
                                    minlength="10" maxlength="10">
                                <mat-icon matSuffix>perm_phone_msg</mat-icon>
                                <mat-error *ngIf="Phone?.errors?.pattern">
                                    The phone must <strong>is number and has 10 letters.</strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="(Phone.hasError('maxlength') ||  Phone.hasError('minlength')) && !Phone?.errors?.pattern">
                                    The phone must <strong>have 10 letters.</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!-- Password -->
                        <div class="row">
                            <mat-form-field class="col-md-12">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Enter your password..." formControlName='Password'
                                    maxlength="100" minlength="8"
                                    [type]="hide ? 'password' : 'text'" required>
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="Password.hasError('required')">
                                    Please enter <strong>Password.</strong>
                                </mat-error>
                                <mat-error *ngIf="Password.hasError('minlength')">
                                    Please min length of password <strong>is 8 letters.</strong>
                                </mat-error>
                                <mat-error *ngIf="Password.hasError('maxlength')">
                                    Please max length of password <strong>is 100 letters.</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!-- Confrim Password -->
                        <div class="row">
                            <mat-form-field class="col-md-12">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput placeholder="Enter your password again..."
                                    maxlength="100" minlength="8"
                                    formControlName='ConfirmPassword' type='password' required>
                                <mat-error *ngIf="ConfirmPassword.hasError('required')">
                                    Please enter <strong>Confirm Password.</strong>
                                </mat-error>
                                <mat-error *ngIf="ConfirmPassword.hasError('isMatch')">
                                    The password not match.
                                </mat-error>
                                <mat-error *ngIf="ConfirmPassword.hasError('minlength')">
                                    Please min length of password <strong>is 8 letters.</strong>
                                </mat-error>
                                <mat-error *ngIf="ConfirmPassword.hasError('maxlength')">
                                    Please max length of password <strong>is 100 letters.</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Action -->
                        <div class="row">
                            <!-- Register Action -->
                            <div class="col-md-12 text-center form-group">
                                <button mat-flat-button class="col-md-12 btn btn-custom btn-round"
                                        (click)="register()" [disabled]="!form.valid"
                                        matTooltip="Register to website.">Register</button>
                            </div>
                            <!-- Login Action -->
                            <div class="col-md-12 text-center">
                                <a class="col-md-6 " matTooltip="Login to website." routerLink="/login">Login to
                                    website</a>
                            </div>
                        </div>
                    </form> <!-- end body for expanse spending -->
                </div>
            </div>
            <footer class="footer" style="position: absolute;z-index:9999999999999999;width: 100%;display: contents">
                <div class="container-fluid">
                    <div class="copyright">
                        © 2019 Design by <a href="https://www.facebook.com/ngtruongvux/" target="_blank">Nguyen Truong
                            Vu</a>.
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>