<div class="row">
    <h5 class="col-md-12 form-header">
        <i class="material-icons">edit</i>
        {{ Header }}
    </h5>
</div>
<div class="row">
    <!-- start body for expanse spending -->
    <form [formGroup]="form">
        <!-- Key -->
        <mat-form-field class="col-md-12 form-group">
            <mat-label>Key</mat-label>
            <input matInput placeholder="Enter your key" formControlName='Key' required>
            <mat-error *ngIf="Key.hasError('required')">
                Please enter <strong>Key.</strong>
            </mat-error>
            <mat-error *ngIf="Key.hasError('whitespace')">
                Please enter the key <strong>without spaces.</strong>
            </mat-error>
            <mat-error *ngIf="Key.hasError('characterValid')">
                    The value not contain characters <strong>{{ Key.errors.characterValid }}</strong>
            </mat-error>
            <mat-error *ngIf="Key.hasError('maxLength')">
                The max length is <strong>100 letter.</strong>
            </mat-error>
        </mat-form-field>

        <!-- Name -->
        <mat-form-field class="col-md-12 form-group">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter your name" formControlName='Name' required>
            <mat-error *ngIf="Name.hasError('required')">
                Please enter <strong>Name.</strong>
            </mat-error>
            <mat-error *ngIf="Name.hasError('characterValid')">
                The value not contain characters <strong>{{ Name.errors.characterValid }}</strong>
            </mat-error>
            <mat-error *ngIf="Name.hasError('maxLength')">
                The max length is <strong>100 letter.</strong>
            </mat-error>
        </mat-form-field>

        <!-- Action -->
        <div class="col-md-12 form-group text-right form-action">

            <!-- save & close -->
            <button mat-raised-button class="btn btn-success btn-round" matTooltip="Save and close dialog."
                [disabled]="form.invalid">Save & Close</button>
            <span class="space"></span>
            <!-- save -->
            <button mat-raised-button class="btn btn-warning btn-round" matTooltip="Save and keep dialog"
                [disabled]="form.invalid">Save</button>
            <span class="space"></span>
            <!-- delete -->
            <button mat-raised-button class="btn btn-danger btn-round" *ngIf="element?.Key"
                matTooltip="Delete a record.">
                Delete
            </button>
            <span class="space" *ngIf="element?.Key"></span>
            <!-- close -->
            <button mat-flat-button class="btn btn-round" (click)="cancel()" matTooltip="Close">Close</button>

        </div>
    </form> <!-- end body for expanse spending -->
</div>