<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Spending List</h5>
            </div>
            <div class="card-body table-responsive">
                <div class="row">
                    <div class="area-add">
                        <!-- showDialog() -->
                        <a (click)="showDialog()" class="btn btn-custom-2 btn-round btn-just-icon">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="col-md-11">
                        <mat-form-field style="display: block;">
                            <input matInput (keyup)="fillterForSpending($event.target.value)" placeholder="Filter data">
                        </mat-form-field>
                    </div>
                </div>
                <!-- start for table spending -->
                <table mat-table [dataSource]="dataSource" matSort class="table table-hover">
                    <ng-container matColumnDef="{{ column.Code }}" *ngFor="let column of columnsToDisplay">
                        <th mat-header-cell *matHeaderCellDef class="text-warning text-default" mat-sort-header>
                            {{column.Format}} </th>
                        <td mat-cell *matCellDef="let element" (click)="showDialog(element)">
                            {{ formatData(column.Code,element) }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                <!-- end for table spending -->
            </div>
        </div>
    </div>
</div>