@import "../../../../styles/child-variables.scss";

.sidebar {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.85), 0 4px 5px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background-color: $white-color;

  .nav {
    i {
      color: $dark-color;
    }
    p {
      transition: none;
    }

    & li {
      &:hover > a i,
      &:hover > a p,
      &:hover {
        background-color: $light-color;
        color: $dark-color;
        > a,
        > a p {
          background-color: transparent;
        }
      }

      > a {
        margin-top: 2px;
        padding: 8px 0px;
      }
    }
    .active > a,
    .active > a i {
      color: $dark-color;
    }

    .active {
      background-color: $light-color;
      color: $dark-color;
    }
  }
}

// start for mobile
@media (min-width: 0px) and (max-width: 991px) {
  .sidebar {
    > .logo > .simple-text {
      color: $white-color;
    }
    .nav {
      li {
        &:hover > a {
          background-color: transparent;
        }

        a,
        .dropdown-menu a {
          color: $white-color;
          font-size: 14px;
        }
        p,
        i {
          color: $white-color;
        }
        &.active,
        &.active p {
          color: $dark-color;
        }
      }
    }
  }
}
