<div class="sidebar">
    <div class="logo">
        <a routerLink="/spending" class="simple-text logo-normal">
            Spending Management
        </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item " routerLinkActive="active" routerLink="/spending" (click)="setTitle('Spending - Spending Management')">
                <a class="nav-link">
                    <i class="material-icons">insert_invitation</i>
                    <p>Spending</p>
                </a>
            </li>
            <li class="nav-item " routerLinkActive="active" routerLink="/wallet" (click)="setTitle('Wallet - Spending Management')">
                <a class="nav-link">
                    <i class="material-icons">credit_card</i>
                    <p>Wallet</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./logout">
                    <i class="material-icons">exit_to_app</i>
                    <p>Log out</p>
                </a>
            </li>
        </ul>
    </div>
</div>