<!-- <div *ngFor="let data of messages"> -->
<div *ngIf="!data.isError" class="alert-message float-right alert alert-success">
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="material-icons">close</i>
    </button> -->
    <span>{{ data.valueMessage }}</span>
</div>

<div *ngIf="data.isError" class="alert-message float-right alert alert-danger">
    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="material-icons">close</i>
    </button> -->
    <span>{{data.valueMessage}}</span>
</div>
<!-- </div> -->