.alert {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  margin: 0;

  -webkit-transition: height 2s; /* For Safari 3.1 to 6.0 */
  transition: height 2s;

  span {
    //word-break: break-all;
    display: inline;
  }

  &:hover {
    white-space: normal;
  }
}
