<footer class="footer">
    <div class="container-fluid">
        <div class="copyright">
            © 2019 Design by <a href="https://www.facebook.com/ngtruongvux/" target="_blank">Nguyen Truong Vu</a>.
        </div>
    </div>
</footer>