<div *ngIf="isLogin; else loginForm">
    <!-- start header -->
    <app-nav></app-nav>
    <!-- end header -->

    <!-- start container -->
    <div class="wrapper">
        <!-- start for navigation -->
        <app-nav></app-nav>
        <!-- end for navigation -->
        <div class="main-panel">

            <!-- Navbar -->
            <app-toolbar></app-toolbar>
            <!-- End Navbar -->
            
            <div class="content">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>

            <!-- start for footer -->
            <app-footer></app-footer>
            <!-- end for footer -->

        </div>
    </div>
    <!-- end container -->
</div>
<ng-template #loginForm>
    <router-outlet></router-outlet>
</ng-template>