<div class="row">
    <h5 class="col-md-12 form-header">
        <i class="material-icons">edit</i>
        {{ Header }}
    </h5>
</div>
<div class="row">
    <!-- start body for expanse spending -->
    <form [formGroup]="form">
        <!-- Code -->
        <mat-form-field class="col-md-12 form-group">
            <mat-label>Code</mat-label>
            <input matInput placeholder="Enter your code" formControlName='Code' required>
            <mat-error *ngIf="Code.hasError('required')">
                Please enter your <strong>Code.</strong>
            </mat-error>
            <mat-error *ngIf="Code.hasError('whitespace')">
                Please enter the code <strong>without spaces.</strong>
            </mat-error>
            <mat-error *ngIf="Code.hasError('characterValid')">
                The value not contain characters <strong>{{ Code.errors.characterValid }}</strong>
            </mat-error>
            <mat-error *ngIf="Code.hasError('maxLength')">
                The max length is <strong>100 letter.</strong>
            </mat-error>
        </mat-form-field>
        <!-- Name -->
        <mat-form-field class="col-md-12 form-group">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter your name" formControlName='Name' required>
            <mat-error *ngIf="Name.hasError('required')">
                Please enter <strong>Name.</strong>
            </mat-error>
            <mat-error *ngIf="Name.hasError('characterValid')">
                The value not contain characters <strong>{{ Name.errors.characterValid }}</strong>
            </mat-error>
            <mat-error *ngIf="Name.hasError('maxLength')">
                The max length is <strong>100 letter.</strong>
            </mat-error>
        </mat-form-field>

        <!-- Balance and Wallet -->
        <mat-form-field class="col-md-6">
            <mat-label>Balance</mat-label>
            <input matInput placeholder="Enter your balance" type="number" formControlName='Balance' required>
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-error *ngIf="Balance.hasError('required')">
                Please enter your <strong>Balance.</strong>
            </mat-error>
            <mat-error *ngIf="Balance.hasError('scope') && !Balance?.errors?.pattern">
                <strong>{{ Balance.errors.scope }}</strong>
            </mat-error>
            <mat-error *ngIf="Balance?.errors?.pattern">
                The balance is <strong>invalid</strong>.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6">
            <mat-label>Choose a Wallet Type</mat-label>
            <mat-select formControlName='WalletType' required>
                <mat-option *ngIf="!wallettypes.length">None</mat-option>
                <mat-option *ngFor="let type of wallettypes" [value]="type.Id">
                    {{type.Name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Action -->
        <div class="col-md-12 form-group text-right form-action">

            <!-- save & close -->
            <button mat-raised-button class="btn btn-success btn-round" matTooltip="Save and close dialog."
                [disabled]="form.invalid">Save & Close</button>
            <span class="space"></span>
            <!-- save -->
            <button mat-raised-button class="btn btn-warning btn-round" matTooltip="Save and keep dialog"
                [disabled]="form.invalid">Save</button>
            <span class="space"></span>
            <!-- delete -->
            <button mat-raised-button class="btn btn-danger btn-round" *ngIf="element?.Code"
                matTooltip="Delete a record.">
                Delete
            </button>
            <span class="space" *ngIf="element?.Code"></span>
            <!-- close -->
            <button mat-flat-button class="btn btn-round" (click)="cancel()" matTooltip="Close">Close</button>
        </div>
    </form> <!-- end body for expanse spending -->
</div>