$loading-size: 20px;
$space-part:-19px;

.loading-center{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.06);
    z-index: 998;
    app-spinner {
        width: 6rem;
        height: 6rem;
    }
}

// @keyframes lds-flickr-opacity {
//     0% {
//       -webkit-transform: translate(0 0);
//       transform: translate(0 0);
//       opacity: 1;
//     }
//     49.99% {
//       opacity: 1;
//       -webkit-transform: translate(80px, 0);
//       transform: translate(80px, 0);
//     }
//     50% {
//       opacity: 0;
//       -webkit-transform: translate(80px, 0);
//       transform: translate(80px, 0);
//     }
//     100% {
//       opacity: 0;
//       -webkit-transform: translate(0, 0);
//       transform: translate(0, 0);
//     }
//   }
//   @-webkit-keyframes lds-flickr-opacity {
//     0% {
//       -webkit-transform: translate(0 0);
//       transform: translate(0 0);
//       opacity: 1;
//     }
//     49.99% {
//       opacity: 1;
//       -webkit-transform: translate(80px, 0);
//       transform: translate(80px, 0);
//     }
//     50% {
//       opacity: 0;
//       -webkit-transform: translate(80px, 0);
//       transform: translate(80px, 0);
//     }
//     100% {
//       opacity: 0;
//       -webkit-transform: translate(0, 0);
//       transform: translate(0, 0);
//     }
//   }
//   @keyframes lds-flickr {
//     0% {
//       -webkit-transform: translate(0, 0);
//       transform: translate(0, 0);
//     }
//     50% {
//       -webkit-transform: translate(80px, 0);
//       transform: translate(80px, 0);
//     }
//     100% {
//       -webkit-transform: translate(0, 0);
//       transform: translate(0, 0);
//     }
//   }
//   @-webkit-keyframes lds-flickr {
//     0% {
//       -webkit-transform: translate(0, 0);
//       transform: translate(0, 0);
//     }
//     50% {
//       -webkit-transform: translate(80px, 0);
//       transform: translate(80px, 0);
//     }
//     100% {
//       -webkit-transform: translate(0, 0);
//       transform: translate(0, 0);
//     }
//   }
//   .lds-flickr {
//     position: relative;
//   }
//   .lds-flickr div {
//     position: absolute;
//     width: 80px;
//     height: 80px;
//     border-radius: 50%;
//     top: 60px;
//     left: 20px;
//   }
//   .lds-flickr div:nth-child(1) {
//     background: #fb5570;
//     -webkit-animation: lds-flickr 1s linear infinite;
//     animation: lds-flickr 1s linear infinite;
//     -webkit-animation-delay: -0.5s;
//     animation-delay: -0.5s;
//   }
//   .lds-flickr div:nth-child(2) {
//     background: #27a399;
//     -webkit-animation: lds-flickr 1s linear infinite;
//     animation: lds-flickr 1s linear infinite;
//     -webkit-animation-delay: 0s;
//     animation-delay: 0s;
//   }
//   .lds-flickr div:nth-child(3) {
//     background: #fb5570;
//     -webkit-animation: lds-flickr-opacity 1s linear infinite;
//     animation: lds-flickr-opacity 1s linear infinite;
//     -webkit-animation-delay: -0.5s;
//     animation-delay: -0.5s;
//   }
//   .lds-flickr {
//     -webkit-transform: translate(-31px, -31px) scale(0.31) translate(31px, 31px);
//     transform: translate(-31px, -31px) scale(0.31) translate(31px, 31px);
//   }

@keyframes ldio-b8h3a94sedp {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
.ldio-b8h3a94sedp > div > div {
  transform-origin: 50px 50px;
  animation: ldio-b8h3a94sedp 3.0303030303030303s linear infinite;
  opacity: 1
}
.ldio-b8h3a94sedp > div > div > div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50px 0 0 0;
  transform-origin: 50px 50px
}.ldio-b8h3a94sedp > div div:nth-child(1) {
  animation-duration: 0.7575757575757576s
}
.ldio-b8h3a94sedp > div div:nth-child(1) > div {
  background: #e15b64;
  transform: rotate(0deg);
}.ldio-b8h3a94sedp > div div:nth-child(2) {
  animation-duration: 1.0101010101010102s
}
.ldio-b8h3a94sedp > div div:nth-child(2) > div {
  background: #f47e60;
  transform: rotate(0deg);
}.ldio-b8h3a94sedp > div div:nth-child(3) {
  animation-duration: 1.5151515151515151s
}
.ldio-b8h3a94sedp > div div:nth-child(3) > div {
  background: #f8b26a;
  transform: rotate(0deg);
}.ldio-b8h3a94sedp > div div:nth-child(4) {
  animation-duration: 3.0303030303030303s
}
.ldio-b8h3a94sedp > div div:nth-child(4) > div {
  background: #abbd81;
  transform: rotate(0deg);
}
.loadingio-spinner-wedges-5vo31aodxx9 {
  width: 41px;
  height: 41px;
  display: inline-block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
}
.ldio-b8h3a94sedp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.41);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-b8h3a94sedp div { box-sizing: content-box; }