@import "./child-variables.scss";

// start commons
body {
  cursor: default;
}
a {
  color: $dark-color;
  &:hover {
    color: #5383c3;
  }
}

.text-default {
  font-weight: 700 !important;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  .card-header {
    padding-bottom: 0;
    h5 {
      border-bottom: 1px solid #ddd;
      padding: 15px 0;
    }
  }

  .card-body {
    padding-top: 0;
    .area-add {
      margin-left: 15px;
      i {
        color: $white-color;
      }
    }
  }
}

.mat-snack-bar-container {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 15px 15px 0 15px !important;
}

.cdk-global-overlay-wrapper {
  .cdk-overlay-pane {
    overflow-y: auto;
  }
}

.mat-dialog-container {
  padding: 20px !important;
  margin: 20px !important;
  box-shadow: none !important;
  form {
    margin-bottom: 0px;
  }
}

.form-header {
  i {
    font-size: 20px;
    margin-right: 10px;
  }
  display: flex;
  text-align: justify;
}
.mat-datepicker-content {
  .mat-calendar {
    display: table;
  }
}

.space {
  margin-right: 10px;
}

// end commons

// start for nav-bar
.navbar.navbar-transparent {
  display: contents;
}
.wrapper {
  .collapse.navbar-collapse.justify-content-end {
    ul.navbar-nav {
      a {
        font-size: 15px;
      }
    }
  }
  .dropdown-menu {
    .dropdown-item {
      transition: none;
      border-radius: 0;
      margin: 0;
      i {
        font-size: 20px;
        margin-right: 15px;
      }
      &:hover {
        background-color: $light-color;
        box-shadow: none;
        color: $dark-color;
      }
    }

    li > a {
      transition: none;
    }
  }
}
// end for nav-bar

// start for responsive mobile
@media (min-width: 0px) and (max-width: 991px) {
  .nav {
    li:first-child > a {
      margin: 0;
    }
    &.navbar-nav.nav-mobile-menu {
      margin: 0;
      .nav-item {
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 15px;
          height: 1px;
          width: calc(100% - 30px);
          background-color: rgba(180, 180, 180, 0.3);
        }
      }
      a,
      .dropdown-menu a {
        color: $white-color;
        font-size: 14px;
        margin: 0 !important;
        line-height: 26px;
        i {
          color: inherit;
          line-height: normal;
        }
      }
      .dropdown-menu {
        margin: 0;
        margin-left: 15px;
        padding: 0;
      }

      li:hover > a {
        background-color: transparent;
        color: $white-color;
        margin: 0;
      }
    }
  }
}

@media (max-width: 960px) {
  .alert-message {
    width: 50% !important;
  }
}
@media (max-width: 540px) {
  .form-action {
    .btn {
      width: 100%;
      margin-bottom: 10px;
    }

    .space {
      margin: 0px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer .copyright {
    padding-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .sign > .sign-main {
    width: 80%;
  }
}
// end for responsive mobile

// start for button

.btn.btn-custom {
  background-color: $primary-color;
  color: $white-color;
  &:hover {
    background-color: $primary-color;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14),
      0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  }
}

.btn.btn-custom-2 {
  background-color: #4c91af;
  color: $white-color;
  &:hover {
    background-color: #4c91af;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14),
      0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  }
}

.btn.btn-custom-3 {
  box-shadow: none;
  background-color: transparent;
  color: black;
  border-color: transparent;
  &:hover {
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14),
      0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  }
}
// end for button

// start for login and register

.sign {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $white-color;
  z-index: 999999999999999;

  > .sign-main {
    display: table;
    height: 100%;
    margin: 0 auto;
    > .sign-content {
      display: table-cell;
      vertical-align: middle;

      .card-stats {
        .card-title {
          text-align: center;
          text-transform: uppercase;
          font-size: 24px;
        }
      }
    }
  }
}

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button .mat-icon,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button .mat-icon {
  font-size: 24px !important;
}

// end for login and register
