@import "~@angular/material/theming";
@import "./custom-style.scss";

@include mat-core();

$mat-primary: (
  50: #e0f7fa,
  100: #b2ebf2,
  200: #80deea,
  300: #4dd0e1,
  400: #26c6da,
  500: #00bcd4,
  600: #13a6b9,
  700: #0097a7,
  800: #00838f,
  900: #006064,
  A100: #404f63,
  A200: #13a6b9,
  A400: #13a6b9,
  A700: #00b8d4,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: white,
    A200: white,
    A400: white,
    A700: white
  )
);

$mat-accen: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #4caf50,
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  A100: #b9f6ca,
  A200: #69f0ae,
  A400: #00e676,
  A700: #00c853,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: white,
    A200: white,
    A400: white,
    A700: white
  )
);

$app-primary: mat-palette($mat-primary, A100);
$app-accen: mat-palette($mat-accen, 400);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accen, $app-warn);

@include angular-material-theme($app-theme);
